// PARTIALS
@import '../partials/variables';

// FONT-AWESOME
$fa-font-path: './webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';

// BOOTSTRAP
@import 'bootstrap/scss/bootstrap';

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body{
    font-family: 'Work Sans', sans-serif;
    background-color: $white;
    color: $text;

    h1,
    h2{
        font-family: 'Source Serif Pro', serif;
    }
}